/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";



.centrar{
    margin-top: 20px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #0b0b0b;
}

.myButton {
    border-radius:2px;
    color:#e6dbdb;
    padding: 10px 25px; 
    --background: linear-gradient(180deg, rgb(70, 120, 134) 0%, rgb(58, 70, 95) 100%);
    height: 50px; 
    margin: 20px auto 0; 
}

.boton {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.fondo{
    --background: linear-gradient(180deg, rgb(189, 232, 237) 0%, rgb(203, 211, 183) 100%);
    color: #fffefe;
    padding: 10px
}

.fondo2{
    background-color: #fffbfb11;
    border: none;
}

.barra{
    background-color: #3d4b61;
    color: #fffbfb;
    padding: 10px
}

.icono {
    margin-left: 8px; 
}

.centrar2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}